<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
    <!-- chart component -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">Historial de veces que se abrió la puerta</h4>
                </div>
                <div class="d-flex flex-wrap m-b-30 justify-content-center scroll-class" #chartArea>                    
                    <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="listaPuerta"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [barPadding]="5"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- chart component -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">Historial de veces que se sentó en el asiento</h4>
                </div>
                <div class="d-flex flex-wrap m-b-30 justify-content-center scroll-class" #chartArea>
                    <ngx-charts-bar-vertical
                        [view]="view2"
                        [scheme]="colorScheme"
                        [results]="listaAsiento"
                        [gradient]="gradient2"
                        [xAxis]="showXAxis2"
                        [yAxis]="showYAxis2"
                        [legend]="showLegend2"
                        [showXAxisLabel]="showXAxisLabel2"
                        [showYAxisLabel]="showYAxisLabel2"
                        [barPadding]="5"
                        [xAxisLabel]="xAxisLabel2"
                        [yAxisLabel]="yAxisLabel2"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <!-- You can find this in the dashboard-component -->
        <app-recent-comment></app-recent-comment>
    </div>
</div>
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->